html {
    position: relative;
    min-height: 100%;
}
body{
    background-color: black;
}
header div.top_menu a{
    color: #ffffff;
}
footer{
    background-color: darkred;
    bottom: 0;
    width: 100%;
}

div.jumbotron{
    margin-bottom: 0;
}

div.top_logo{
    margin: 1% 0 0 2%;
}

div.top_menu{
    margin : -2% 0 2% 50%;
}

div.top_menu a{
    margin: 0 0 0 2%;
}

div.top_menu a:hover{
    color: darkred;
}

div.img_slide{
    width: 80%;
}

footer div.copy_light{
    font-size: small;
    text-align: center;
}

footer div.footer_img{
    text-align: center;
}

footer img{
    width: 7%;
}