#root {
    height: 100%;
}

.member-header {
    height: 69px;
    width: 100%;
    border-bottom: solid 1px #E5DFDF;
}

.popup-menu{
    margin-left: 3%;
    margin-bottom: 10%;
    border-radius: 10px;
    width: 94%;
    height: calc(100% - 200px);
    background: #ffffff;
    position: fixed;
    top: 100px;
    z-index: auto;
}

.popup-menu h2{
    text-align: center;
}

.popup-menu hr{
    margin: 0 0 0 0;
}

.popup-menu div{
    text-align: center;
    height: calc(100% - 89%);
}




.menu-icon{
    margin: 3% 2% 0 2%;
}

.app-title{
    color: #FFA2A2;
    margin: 5% 0 0 20%;
}

.member-main {
    height: calc(100% - 152px);
    width: 100%;
    background: #F2F2F2;
    overflow: auto;
}

.member-footer {
    text-align: center;
    height: 83px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: solid 1px #E5DFDF;
}

.contents-img {
    text-align: center;
    margin: 22px 0 22px 0;
}

.contents-text {
    color: #717171;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
}

.select-contents {
    width: 120px;
    height: 150px;
    background: #ffffff;
    margin: 19px 0 0 0;
    border-radius: 5px;
    border: solid 1px #E5DFDF;
}

.flex {
    display: flex;
}

.footer-menu, .main-contents{
    flex-direction: row;
    justify-content: space-evenly;
}


.footer-menu div{
    margin-top: 2.5%;
}