@media screen and (max-width: 767px){
    .pc-area {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.mobile-area {
    height: 100%;
    display: block;
}

.wrap {
    background: #4A4A4A;
    font-size: 20px;
}


.header {
    box-sizing: border-box;
    width: 100%;
}

.main {

}


div.line {
    width: 100%;
    height: 1px;
    background: #212529;
    margin: 10px 0 10px 0;
}

.bar1, .bar2, .bar3 {
    width: 80px;
    height: 3px;
    background-color: #E9ECEF;
    margin: 20px 0;
}

.select-line {
    display: inline-block;
    margin-left: calc(100% - 100px);
    cursor: pointer;
}

.top-main {
    margin-left: 5px;
    margin-right: 5px;
}

.top-main-title h2{
    color: #E9ECEF;
    font-weight: 200;
    font-size: 50px;
}

.top-main-text {
    color: #E9ECEF;
    font-weight: 200;
    font-size: 15px;
}

.footer {
    color: #E9ECEF;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    background: #FA4040;
    padding-top: 5px;
}

.icons {
    text-align: center;
}

.icons div {
    display: inline;
    margin-left: 5px;
    width: 80%;
}

.icons img{
    width: 25%;
}

.footer-menu {
    text-align: center;
}

.footer-menu ul {
    margin-top: 10px;
    padding-left: 0;
    font-weight: 300;
}

.footer-menu li {
    display: inline;
    list-style: none;
}

ol li a{
    color: #dddddd;
}

.privacy-policy {
    text-align: center;
    font-size: medium;
}

.copyright {
    font-size: small;
    font-weight: 200;
    text-align: center;
}

.hidden {
    display: none;
}

.sub-top {
    padding: 10px 30px 10px 30px;
    top: 0;
    width: 100%;
    height: 100%;
    background: #808080;
}

.sub-wrap-menu {
    line-height: 20px;
    height: 100%;
    background: #E9ECEF;
    color: #808080;
    text-align: center;
    border-radius: 50px;
}

.sub-wrap-menu h3 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20%;
}

.sub-wrap-menu .menu-index {
    height: 10%;
    font-size: 30px;
    font-weight: 100;
}

.sub-wrap-menu hr {
}

.sub-wrap-menu a{
    color: #808080;
}

.sub-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-icons div {
    width: 33%;
    display: inline-block;
}

.sub-icons img{
    width: 80%;
}


.cross-mark {
    text-align: right;
    margin-right: 3%;
    padding-top: 3%;
}

h1 {
    text-align: center;
    color: #dddddd;
    font-size: 50px;
    font-weight: 200;
}





.member-list table{
    text-align: center;
    margin: auto;
    color: #dddddd;
    border: none;
}

.member-list img {
    width: 90%;
}

.wrap-form {
    color: #dddddd;
    padding: 70px 13% 70px 13%;
}

.schedule-area {
    padding-bottom: 500px;
}

.schedule-area .content {
    text-align: center;
    color: #dddddd;
}

.overview-area {
    padding-bottom: 500px;
}

.overview-area .content {
    text-align: center;
    color: #dddddd;
}

.ticket-area {
    padding-bottom: 500px;
}

.ticket-area .content {
    text-align: center;
    color: #dddddd;
}
}
