<footer class="footer">
        <div class="copy_light text-light">© 劇団100℃</div>
        <div class="footer_img">
            <a href="https://twitter.com/100doooc" target="_blank" rel="noopener noreferrer"><img src=""></a>
            <a href="https://www.instagram.com/gekidan100/" target="_blank" rel="noopener noreferrer"><img src=""></a>
            <a href="https://www.youtube.com/channel/UC2avfYxoYQZxchEmVxypnrg/" target="_blank" rel="noopener noreferrer"><img src=""></a>
        </div>
        <hr>
        <div style="text-align: center;">
            <div class="text-light">プライバシーポリシー</div>
        </div>
</footer>
