{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="Keywords" content="劇団100℃,100,劇団,100℃,100度,劇団100度,げきだん100ど">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>劇団100℃</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>
<body class="wrapper">
    <header>
        <div class="top_logo"><a href="/"><img src="{% static 'img/100logo.png' %}"></a></div>
        <div class="top_menu text-light">
            <div class="mobile_menu"></div>
            <a href="/overview">overview</a>
            <a href="/member">member</a>
            <a href="/schedule">schedule</a>
            <a href="/ticket">ticket</a>
            <a href="/mailform">mailform</a>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>