{% load static %}


{% load static %}

<!doctype html>
<html lang="js">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if css_list %}
            {% for c in css_list %}
                <link rel="stylesheet" href="{% static 'app_js/my-app/build_g/static/css/' %}{{ c }}">
            {% endfor %}
        {% endif %}
        <link rel="icon" href="{% static 'img/favicon.ico' %}">

        <title>Hello, world!</title>
    </head>
    <body>
        <div id="root"></div>
        {% if js_list %}
            {% for i in js_list %}
                <script src="{% static 'app_js/my-app/build_g/static/js/' %}{{ i }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>




{#<style>#}
{#        .ameblo_box a{#}
{#            color: black;#}
{#        }#}
{#        .ameblo-time{#}
{#            font-size: small;#}
{#        }#}
{#    </style>#}

{#<div class="jumbotron jumbotron-fluid">#}
{#    <div>#}
{#        <div class="container">#}
{#            <h2 class="display-4">News</h2>#}
{#            <div>#}
{#                <p>Coming Soon</p>#}
{#            </div>#}
{#        </div>#}
{#        <hr>#}
{#        <div class="container" style="margin-bottom: 40px;">#}
{#            <h1 class="display-4">About us</h1>#}
{#            <p>私たちは2019年に結成した若手の劇団です。</p>#}
{#        </div>#}
{#        <hr>#}
{#        <div class="container">#}
{#            <h2 class="display-4">Recruitment</h2>#}
{#            <div>#}
{#                <p>団員募集は<a href="/want-member">こちら</a>から</p>#}
{#                <div>#}
{#                    <h4>主宰からのお言葉</h4>#}
{#                    <p>責任感をもって一緒に作品を創っていける俳優、スタッフを募集します。#}
{#                    「たくさんの人を元気にするのがエンタメの役割」と信じて作品を創っています。#}
{#                    まだ生まれたばかりのこの劇団を一緒に大きくしていきましょう。</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <hr>#}
{#        <div class="container">#}
{#            <h2 class="display-4">Blog</h2>#}
{#                <div class="ameblo_box"></div>#}
{#                <hr>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{# <script>#}
{#        $(function(){#}
{#            let ameblo_box = $('.ameblo_box');#}
{#            $.ajax({#}
{#                url: 'json/ameba',#}
{#                type: 'GET',#}
{#                dataType: 'json'#}
{#            })#}
{#            .done(function (data) {#}
{#                for (let i=0; i<data.length; i++){#}
{#                    ameblo_box[0]['innerHTML'] += '<a href=' + data[i]['link'] + ' target="_bank" >' + data[i]['title'] + '</a>' +#}
{#                        '<div class="ameblo-time">' + data[i]['pubDate'] + '</div><hr>'#}
{#                }#}
{#            })#}
{#            .fail(function (error) {#}
{#                alert(error)#}
{#            })#}
{#        })#}
{#    </script>#}