{% include 'header.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div>
        <div class="container">
            <h2 class="display-5" style="text-align: center">メンバー</h2>
            <div style="text-align: center">
                <table>
                    <tr>
                        <td>
                            <div><img src="{% static "img/member/ritsu_akanuma.jpg" %}" width="100%"></div>
                            <div>赤沼律</div>
                        </td>
                        <td>
                            <div><img src="{% static "img/member/atsuya_kai.jpg" %}" width="100%"></div>
                            <div>甲斐敦也</div>
                        </td>
                        <td>
                            <div><img src="{% static "img/member/reoto_kawaguchi.jpg" %}" width="100%"></div>
                            <div>河口怜和人</div>
                        </td>
                        <td>
                            <div><img src="{% static "img/member/sayaka_kanzaki.jpg" %}" width="100%"></div>
                            <div>神崎紗耶加</div>
                        </td>
                        <td>
                            <div><img src="{% static "img/member/hayate_saito.jpg" %}" width="100%"></div>
                            <div>斉藤颯</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><img src="{% static "img/member/yukako_yasuda.jpg" %}" width="100%"></div>
                            <div>安田有香子</div>
                        </td>
                        <td>
                            <div><img src="{% static "img/member/tatsuya_yamamoto.jpg" %}" width="100%"></div>
                            <div>山本竜也</div>
                        </td>
                        <td>
                            <div><img src="{% static "img/member/takumi_wada.jpg" %}" width="100%"></div>
                            <div>和田拓省</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% include 'footer.html' %}
