{% include 'header.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div>
        <div class="container">
            <h2 class="display-5" style="text-align: center">概要</h2>
            <div style="text-align: center">
                <p class="overview_content">劇団100℃は2019年にできた新しい劇団です。
                <br>これまで全2回の公演を行ってきました。<br>
                公演作品はすべて当劇団オリジナルのものです。</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% include 'footer.html' %}
