{% load static %}

<!doctype html>
<html lang="js">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% if css_list %}
            {% for c in css_list %}
                <link rel="stylesheet" href="{% static 'app_js/my-app/build/static/css/' %}{{ c }}">
            {% endfor %}
        {% endif %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <div id="root"></div>
        {% if js_list %}
            {% for i in js_list %}
                <script src="{% static 'app_js/my-app/build/static/js/' %}{{ i }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>